<h1 
  mat-dialog-title
  cdkDrag
  cdkDragRootElement=".cdk-overlay-pane" 
  cdkDragHandle
  >{{ data.name }}
  <button type="button" class="close-dialog" mat-mini-fab aria-label="Close" (click)="close($event)">
    <mat-icon>close</mat-icon>
  </button>
</h1>
<div mat-dialog-content>
  <mat-list>
    <mat-list-item>Size: {{ data.size }}</mat-list-item>
    <mat-list-item>Position: 
      X:{{ position.x }} 
      Y:{{ position.y }} 
      Z:{{ position.z }}
    </mat-list-item>
    <mat-list-item>
      <mat-checkbox
        [checked]="positionHelperEnable"
        (change)="togglePositionHelper($event.checked)"
      >PositionHelper: 
      </mat-checkbox>
    </mat-list-item>
    <mat-list-item>
      <mat-checkbox
        [checked]="rotatationEnable"
        (change)="setRotate($event.checked)"
      >Rotate: 
      </mat-checkbox>
    </mat-list-item>
    <mat-list-item>
      <mat-checkbox
        [checked]="rotationDir"
        (change)="setRotationDir($event.checked)"
      >Rotation Direction: 
      </mat-checkbox>
    </mat-list-item>
    <mat-list-item class="value-controls">
      <span class="label">Rotation speed</span>
      <button (click)="changeRotationSpeed(-1)"><</button>
      <span class="value">{{ rotation }}</span>
      <button (click)="changeRotationSpeed(1)">></button>
      <button (click)="resetRotationSpeed()">R</button>
    </mat-list-item>
    <mat-list-item>
      <mat-checkbox
        [checked]="showOrbit"
        (change)="setShowOrbit($event.checked)"
      >Show orbit: 
      </mat-checkbox>
    </mat-list-item>
    <mat-list-item>
      <mat-checkbox
        [checked]="followOrbit"
        (change)="setFollowOrbit($event.checked)"
      >Follow orbit: 
      </mat-checkbox>
    </mat-list-item>
    <mat-list-item class="value-controls">
      <span class="label">Orbit speed</span>
      <button (click)="changeOrbitSpeed(-1)"><</button>
      <span class="value">{{ orbitSpeed }}</span>
      <button (click)="changeOrbitSpeed(1)">></button>
      <button (click)="resetOrbitSpeed()">R</button>
    </mat-list-item>
    <mat-list-item class="value-controls">
      <span class="label">Orbit</span>
      <button (click)="changeOrbit(-0.1)"><</button>
      <span class="value">{{ orbitSize }}</span>
      <button (click)="changeOrbit(0.1)">></button>
      <button (click)="resetOrbit()">R</button>
    </mat-list-item>
  </mat-list>
</div>
