<div class="app-container">
  <div class="game-container" [class.shrink]="showSidebar">
    @if(isLoading) {
      <app-loader></app-loader>
    }
    <canvas #canvas id="canvas" [class.loading]="isLoading"></canvas>
    <app-action-nav
      class="action-nav"
      (playEvent)="playGame()"
      (pauseEvent)="pauseGame()"
      (cameraEvent)="setCamera($event)"
      (timeEvent)="changeSpeed($event)"
      [timeScale]="timeScale"
      [playing]="isPlaying"
      [selectedCamera]="activeCamera"
      [style.opacity]="!isLoading ? 1 : 0 "
    />

    <app-planet-selector 
      [style.opacity]="!isLoading ? 1 : 0 "
      [planets]="planets" 
      (selectEvent)="selectPlanet($event)"
      (orbitShowEvent)="toggleShowOrbit($event)"
      [followOrbit]="followOrbit"
      (orbitEvent)="toggleFollowOrbit()"
      [rotationEnabled]="rotationEnabled"
      (rotationEvent)="toggleRotation()"
    ></app-planet-selector>

  </div>
  @if (!isLoading) {
    <app-sidebar 
      [planet]="selectedPlanet"
      [player]="player"
      [timeScale]="timeScale"
      [class.opened]="showSidebar"
      (closeEvent)="closePlanetInfo()"
    ></app-sidebar>
  }

</div>