.sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  z-index: 0;
}

.mat-drawer-content {
  position: absolute !important;
  width: 100%;
  margin-left: 0 !important;
}

.game-container {
  
  position: absolute; 
  height: 100%; 
  width: 100%;
  overflow: hidden;

  canvas {
    position: absolute; 
    height: 100%; 
    width: 100%;
    z-index: 1;
    transition: all 0.5s;
    opacity: 1;

    &.loading {
      opacity: 0;
    }
  }
}