.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
  z-index: 0;
}

.mat-drawer-content {
  position: absolute !important;
  width: 100%;
  margin-left: 0 !important;
}

.game-container {
  position: relative;
  overflow: hidden;

  canvas {
    position: absolute; 
    height: 100%; 
    width: 100%;
    z-index: 1;
  }
}
app-action-nav {
  position: fixed;
  bottom: 0;
  left: calc(50% - 100px);
  z-index: 100;
}