$primary: rgb(23 99 143);

:host{
  display: table;
  font-size: 14px;
  width: 100%;

  button {
    width: 30px;
    height: 30px;
  }

  .label {
    display: table-cell;
    width: 40%;

    .field-name {
      height: 30px;
      width: calc(90% - 10px);
      display: block;
      color: #FFF;
      background-color: #4e4e4e;
      font-weight: bold;
      line-height: 30px;
      padding-left: 10px;
    }

  }

  .value-container {
    display: table-cell;
    width: 60%;
    
    .value {
      display: inline-block;
      width: 70px;
      height: 30px;
      padding: 0;
      margin: 0 10px;

      background-color: #414141;

      color: #FFF;
      font-weight: bold;
      text-align: center;
    }
  }
}