@if (planet) {
  <h1>{{ planet.name }}
    <button type="button" class="close-info" mat-mini-fab aria-label="Close" (click)="close($event)">
      <mat-icon>close</mat-icon>
    </button>
  </h1>
  <div class="info-content">
    <mat-list>
      <mat-list-item>Size: {{ planet.size }}</mat-list-item>
      <mat-list-item class="value-controls"> 
        <span class="label">Position</span>
      </mat-list-item>
      <mat-list-item class="value-controls"> 
        <span class="label">X</span>
        <span class="value">{{ position.x }}</span>
      </mat-list-item>
      <mat-list-item class="value-controls"> 
        <span class="label">Y</span>
        <span class="value">{{ position.y }}</span>
      </mat-list-item>
      <mat-list-item class="value-controls"> 
        <span class="label">Z</span>
        <span class="value">{{ position.z }}</span>
      </mat-list-item>
      
      <mat-list-item class="value-controls"> 
        <span class="label">PositionHelper</span>
        <span class="value">
          <mat-checkbox
            [checked]="positionHelperEnable"
            (change)="togglePositionHelper($event.checked)"
          ></mat-checkbox>
        </span>
      </mat-list-item>

      <mat-list-item class="value-controls"> 
        <span class="label">Rotate</span>
        <span class="value">
          <mat-checkbox
            [checked]="planet.rotate"
            (change)="setRotate($event.checked)"
          ></mat-checkbox>
        </span>
      </mat-list-item>

      <mat-list-item class="value-controls"> 
        <span class="label">Rotation Direction</span>
        <span class="value">
          <mat-checkbox
            [checked]="rotationDir"
            (change)="setRotationDir($event.checked)"
          ></mat-checkbox>
        </span>
      </mat-list-item>

      <mat-list-item class="value-controls">
        <span class="label">Rotation speed</span>
        <button (click)="changeRotationSpeed(-1)"><</button>
        <span class="value">{{ rotation }}</span>
        <button (click)="changeRotationSpeed(1)">></button>
        <button (click)="resetRotationSpeed()">R</button>
      </mat-list-item>

      <mat-list-item class="value-controls"> 
        <span class="label">Show orbit</span>
        <span class="value">
          <mat-checkbox
            [checked]="showOrbit"
            (change)="setShowOrbit($event.checked)"
          ></mat-checkbox>
        </span>
      </mat-list-item>

      <mat-list-item class="value-controls"> 
        <span class="label">Follow orbit</span>
        <span class="value">
          <mat-checkbox
            [checked]="followOrbit"
            (change)="setFollowOrbit($event.checked)"
          ></mat-checkbox>
        </span>
      </mat-list-item>

      <mat-list-item class="value-controls">
        <span class="label">Orbit speed</span>
        <button (click)="changeOrbitSpeed(-1)"><</button>
        <span class="value">{{ orbitSpeed }}</span>
        <button (click)="changeOrbitSpeed(1)">></button>
        <button (click)="resetOrbitSpeed()">R</button>
      </mat-list-item>
      <mat-list-item class="value-controls">
        <span class="label">Orbit</span>
        <button (click)="changeOrbit(-1)"><</button>
        <span class="value">{{ orbit }}</span>
        <button (click)="changeOrbit(1)">></button>
        <button (click)="resetOrbit()">R</button>
      </mat-list-item>
    </mat-list>
  </div>
}
