.planets-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.planet-li {
  width: 65px;
  height: 65px !important;
  margin: 0 10px;
  display: inline-block;
  padding: 0;
  border-radius: 100px;
  background-color: red;
  
  background-size: cover;
  // background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50px;

  &.active {
    background-color: rgba(236, 215, 26, 0.5);
  }

}

.planets-confg {
  // width: 300px;
  position: absolute;
  right: 20px;
  bottom: 10px;

  .planets-opt {
    display: inline-block;
    padding: 0;
    width: auto;
    margin: 0 5px;
  }
}