$primary: rgb(23 99 143);

:host {
  position: absolute;
  right: 0;
  width:0%;
  height:100%;
  min-height:100%;
  max-height:100%;
  overflow-y: auto;
  overflow-x: hidden;
  
  &.opened {
    width: 25%;
  }
}

h1 {
  background-color: $primary;
  padding: 10px;
  color: #fff;

  .close-info {
    float: right;
  }
}