<!-- <mat-tab-group [selectedIndex]="1"> -->
<div id="preview">
  @if(previewData) {
    <app-preview 
      [model]="previewData.model"
      [size]="previewData.size"
      [rotate]="previewData.rotate"
      [rotationDir]="previewData.dir"
      [rotationSpeed]="previewData.rotationSpeed"
      [type]="previewData.type"
    ></app-preview>
  }
</div>
<mat-tab-group [selectedIndex]="selectedTabIndex" (selectedTabChange)="onTabChanged($event);">
  <mat-tab label="Planet Info">
    @if (planet && selectedTabIndex === 0) {
      <h1>{{ planet.name }}</h1>
      <div class="info-content">
        <mat-list>
    
          <mat-list-item> 
            <app-value-control label="Position">
              <div class="row">
                <span class="col title">X</span>
                <span class="col title">Y</span>
                <span class="col title">Z</span>
              </div>
              <div class="row">
                <span class="col">{{ planet.position.x.toFixed(2) }}</span>
                <span class="col">{{ planet.position.y.toFixed(2) }}</span>
                <span class="col">{{ planet.position.z.toFixed(2) }}</span>
              </div>
    
            </app-value-control>
          </mat-list-item>
          
          <mat-list-item> 
            <app-value-control label="PositionHelper">
              <mat-checkbox
                [checked]="this.planet.positionHelper !== undefined"
                (change)="planet.togglePositionHelper()"
              ></mat-checkbox>
            </app-value-control>
          </mat-list-item>
    
          <mat-list-item>
            <app-value-control 
              label="Size" 
              [value]="planet.size"
              (change)="planet.changeSize($event)"
              >
            </app-value-control>
          </mat-list-item>
    
          <mat-list-item> 
            <app-value-control label="Rotate">
              <mat-checkbox
                [checked]="planet.rotate"
                (change)="planet.setRotate($event.checked)"
              ></mat-checkbox>
            </app-value-control>
          </mat-list-item>
    
          <mat-list-item> 
            <app-value-control label="Rotation Direction">
              <mat-checkbox
                [checked]="this.planet.rotationDir"
                (change)="planet.setRotationDir($event.checked)"
              ></mat-checkbox>
            </app-value-control>
          </mat-list-item>
    
          <mat-list-item>
            <app-value-control 
              label="Rotation speed" 
              [value]="this.planet.rotationSpeed * 1000"
              (change)="planet.changeRotationSpeed($event)"
              >
            </app-value-control>
          </mat-list-item>
    
          <mat-list-item>
            <app-value-control label="Show orbit">
              <mat-checkbox
                [checked]="this.planet.showOrbit"
                (change)="planet.setShowOrbit($event.checked)"
              ></mat-checkbox>
            </app-value-control>
          </mat-list-item>
    
          <mat-list-item> 
            <app-value-control label="Follow orbit">
              <mat-checkbox
                [checked]="planet.followOrbit"
                (change)="planet.setFollowOrbit($event.checked)"
              ></mat-checkbox>
            </app-value-control>
          </mat-list-item>
    
          <mat-list-item>
            <app-value-control 
              label="Orbit speed" 
              [value]="planet.orbitSpeed * 1000"
              (change)="planet.changeOrbitSpeed($event)"
              >
            </app-value-control>
          </mat-list-item>
    
          <mat-list-item>
            <app-value-control 
              label="Orbit Angle" 
              [value]="planet.angle"
              (change)="planet.changeOrbitAngle($event)"
              [step]="0.01"
              >
            </app-value-control>
          </mat-list-item>
          
          <mat-list-item>
            <app-value-control 
              label="Orbit size" 
              [value]="this.planet.orbitSize"
              (change)="planet.changeOrbit($event)"
              [step]="0.1"
              >
            </app-value-control>
          </mat-list-item>
    
        </mat-list>
      </div>
    }
  </mat-tab>
  <mat-tab label="Player Info">
    @if (player && selectedTabIndex === 1) {
      <h1>Player
        
        <button 
          mat-mini-fab
          (click)="player.lookAtShip()"
          aria-label="Look at ship"
          title="Look at ship"
          color="primary"
        >
          <mat-icon>chevron_left</mat-icon>
        </button>
      </h1>
      <div class="info-content">
        <mat-list>
          <mat-list-item> 
            <app-value-control label="Position">
    
              <div class="row">
                <span class="col title">X</span>
                <span class="col title">Y</span>
                <span class="col title">Z</span>
              </div>
              <div class="row">
                <span class="col">{{ player.position.x.toFixed(2) }}</span>
                <span class="col">{{ player.position.y.toFixed(2) }}</span>
                <span class="col">{{ player.position.z.toFixed(2) }}</span>
              </div>
    
            </app-value-control>
          </mat-list-item>

          <mat-list-item> 
            <app-value-control label="PositionHelper">
              <mat-checkbox
                [checked]="player.positionHelper !== undefined"
                (change)="player.togglePositionHelper()"
              ></mat-checkbox>
            </app-value-control>
          </mat-list-item>

          <mat-list-item>
            <app-value-control 
              label="Size" 
              [value]="player.size"
              (change)="player.changeSize($event)"
              >
            </app-value-control>
          </mat-list-item>
    
          <mat-list-item>
            <app-value-control 
              label="Rotation Y" 
              [value]="player.rotation.y"
              (change)="this.player?.rotateY($event)"
              [step]="0.1"
              >
            </app-value-control>
          </mat-list-item>
    
          <mat-list-item>
            <app-value-control 
              label="lightIntensity" 
              [value]="player.lightIntensity"
              (change)="player.changeLightIntensity($event)"
              [step]="1"
              >
            </app-value-control>
          </mat-list-item>
    
          <mat-list-item>
            <app-value-control 
              label="Light Distance" 
              [value]="player.lightDistance"
              (change)="player.changeLightDistance($event)"
              [step]="1"
              >
            </app-value-control>
          </mat-list-item>
        </mat-list>
      </div>
    }
  </mat-tab>
</mat-tab-group>
