<mat-action-list class="planets-menu">
  <a mat-list-item 
    class="planet-li"
    (click)="selectPlanet($event)" 
    [href]="'#'"
    [style.background-image]="'url(../assets/icons/solar-system.jpg)'"
    >
  </a>
  @if(planets && planets.length) {
    @for (planet of planets; track planet) {
      <a mat-list-item 
        class="planet-li" 
        [class]="{active: selectedOpt === planet.name }"
        (click)="selectPlanet($event, planet)" 
        [href]="'#'+planet.name"
        [title]="planet.name"
        [style.background-image]="'url(' + planet.planetIcon + ')'"
        >
      </a>
    }

    <div class="planets-confg">
      <mat-list-item class="planets-opt">
        <button 
          mat-mini-fab 
          aria-label="Toggle planet rotation"
          title="Toggle planet rotation"
          (click)="toggleRotation()" 
          [color]="rotationEnabled ? 'primary' : ''"
        >
          <mat-icon> public </mat-icon>
        </button>
      </mat-list-item>
  
      <mat-list-item class="planets-opt">
        <button 
          mat-mini-fab 
          aria-label="Toggle planet rotation"
          title="Toggle planet orbit"
          (click)="toggleFollowOrbit()" 
          [color]="followOrbit ? 'primary' : ''"
        >
          <mat-icon> settings_backup_restore </mat-icon>
        </button>
      </mat-list-item>
  
      <mat-list-item class="planets-opt">
        <button 
          mat-mini-fab 
          aria-label="Toggle show orbit path"
          title="Show orbit"
          (click)="toggleShowOrbit()" 
          [color]="showOrbit ? 'primary' : ''"
        >
          <mat-icon>trip_origin</mat-icon>
        </button>
      </mat-list-item>
    </div>
  }
</mat-action-list>